.header{
    width: 100%;
    background-image: linear-gradient(to left, #0088ff, #00ff9d);
}

.wave {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    padding-top: 30px;
    padding-bottom: 15px;
    background-image: url('../../../assets/img/wave.svg');
    background-size: cover;
}

.logo {
    max-width: 40%;
    min-width: 30%;
    padding: 10px;
    grid-column: 1;
    display: grid;
    justify-content: center;
    margin: auto; 
}

.logoprop {
    max-width: 80px;
    float: center;
    margin: auto;
}

.title{
    width: 100%;
    display: grid;
    grid-column: 2;
    justify-content: left;
}

.title[path=login] {
    justify-content: center;
}

.title[path=login] > a {
    display: block;
}

.title > div {
    display: inline;
    justify-self: center;
}

.header_text {
    text-decoration:none;
    color:white;
    margin: auto 0;
    justify-self: center;
    font-size: 22px;
    font-variant-caps: titling-caps;
}

.header_userInfo {
    grid-column: 3;
    align-self: center;
    justify-self: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
