.header{
    border-bottom: 1px solid;
    margin-bottom: 10px;
    border-bottom-color: #002984;
    background: white;
}
.header_content {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    width:100%;
}
.header_userInfo {
    grid-column: 3;
    justify-self: center;
}
.header_text{ 
    white-space: nowrap;
    grid-column: 2;
    justify-self: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
    color:#0a5fbb;
    font-variant: small-caps;
}