.logo{
    background: #28d;
    width: 100%;
    display: flex;
    justify-content: center;
}
.header{
    border-bottom: 1px solid;
    border-bottom-color:rgb(25, 97, 156);
    background: white;
}

.header_content {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    width:100%;
    background: #28d;
}

.header_userInfo {
    grid-column: 3;
    align-self: center;
    justify-self: center;
    font-family: 'PT Sans',Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
.header_text{
    text-decoration:none;
    color:white;
    grid-column: 2;
    justify-self: center;
    font-family: 'PT Sans',Helvetica,Arial,sans-serif;
    font-size: 2.5em;
    text-align: center;
    font-variant-caps: titling-caps;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
.imgprop{
    max-width: 80px;
    float: center;
    margin: auto;

}
.image{
    max-width: 40%;
    min-width: 30%;
    padding: 10px;
    grid-column: 1;
    display: grid;
    justify-content: center;
    filter: invert(100%);
    padding: auto;
    margin: auto; 
}