.container {
    display: grid;
    grid-template-columns: 80% auto;
}

.buttons {
    height: 100%;
    display: grid;
    grid-template-rows: 50% 50%;
    align-content: center;
}

button {
    margin: 3px;
}

.greeting {
    /* TODO сделать текст по середине (про высоту) */
}