th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.text-center {
    text-align: center;
}
.send-solution {
    display: grid;
    justify-content: center;
}
.editExercise_btn{
    font-size:13px;
    width: 100%;
    text-decoration: none;
    outline: none;
    display: inline-block;
    margin-top: 10px;
    transition: .15s ease-in-out;
}
.label-for-input-btn {
    width: 180px;
    height: 50px;
    border-radius: 4px;
    text-align: center;
    margin: 25px;
    display: block;
    font: 14px/50px Tahoma;
    background: #28d;
    color: #fff;
    cursor: pointer;
    border-radius: 40px;
}
.label-for-input-btn:hover {
    background: #17c;

}
.background-green {
    background: #15bd24;
}
.background-green:hover {
    background: #14a921;
}
.input-btn {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.statusIcon {
    width: 70px;
}
.text{
    word-wrap: break-word;
    max-width: 100%;
    text-align: center;
    overflow: hidden;
}