<div class="container" *ngIf="exerciseInfo ; else loading">
  <div>
    <button mat-button class="editExercise_btn" *ngIf="isAdmin()" (click)="editExercise(exerciseInfo.Id)">
      Изменить данные задания
    </button>
    <h1>{{exerciseInfo.Name}}</h1>
  </div>
  <h3>
    Баллы за выполнение: <span>{{exerciseInfo.Score}}</span>
  </h3>
  <markdown id="Exercise_text" [data]="exerciseInfo.TaskText"></markdown>
  <app-exercise-inout [exId]="exerciseInfo.Id"></app-exercise-inout>
  <div *ngIf="needSendForm()">
    <h2>Отправка решения</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="Language">Язык программирования</label>
        <select id="Language" class="form-control" [(ngModel)]="model.Language" name="Language">
          <option *ngFor="let lang of availableLanguages">{{lang}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="Source">Код программы</label>
        <input type="file" id="Source" (change)="setFile($event)" accept=".cpp,.java,.cs,.py,.pas" />

      </div>

      <div class="form-group">
        <button [disabled]="submitDisabled">Отправить решение</button>
      </div>
    </form>
  </div>

  <h2>Отправленные решения ({{exerciseInfo.Solutions.length}})</h2>
  <table>
    <thead>
      <th>Время отправки</th>
      <th>Язык программирования</th>
      <th>Скачать решение</th>
      <th>Результат</th>
      <th> </th>
    </thead>
    <tbody>

      <tr *ngFor="let sol of exerciseInfo.Solutions">
        <td>{{prettyTime(sol.SendingTime)}}</td>
        <td>{{normalLang(sol.Language)}}</td>
        <td>
          <button>
            <a download="">Скачать</a>
          </button>
        </td>
        <td>{{solutionStatusPresent(sol.Status)}}</td>
        <td><img class="statusIcon" src="assets/StatusCode/{{sol.Status}}.svg" /></td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #loading>
  <ngx-loading [show]="loading"></ngx-loading>
</ng-template>