th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.text-center {
    text-align: center;
}
.editExercise_btn{
    color:#c300ff;
    border:1px solid rgb(195, 0, 255);
    width: 100%;
    text-decoration: none;
    outline: none;
    display: inline-block;
    background: white;
    margin-top: 10px;
    transition: .15s ease-in-out;
}
.editExercise_btn:hover{
    box-shadow: 0 0 3px 0 rgb(195, 0, 255) inset, 0 0 3px 1px rgb(195, 0, 255);
    color: rgb(195, 0, 255);
}
.statusIcon {
    width: 70px;
}
.text{
    word-wrap: break-word;
    max-width: 100%;
    text-align: center;
    overflow: hidden;
}