<div class="exerciseInfo" *ngIf="exerciseInfo ; else loading">
  <div>
    <button class="editExercise_btn text" *ngIf="isAdmin()" (click)="editExercise(exerciseInfo.Id)">
      Изменить данные задания
    </button>
    <h1 class="text text-center">{{exerciseInfo.Name}}</h1>
  </div>
  <h3>
    Баллы за выполнение: <span>{{exerciseInfo.Score}}</span>
  </h3>
  <markdown id="Exercise_text" [data]="exerciseInfo.ExerciseTask"></markdown>
  <app-exercise-inout [exId]="exerciseInfo.Id"></app-exercise-inout>
  <div *ngIf="needSendForm()">
    <h2 class="text-center">Отправка решения</h2>
    <form (ngSubmit)="onSubmit()" class="send-solution">
      <div class="solution-actions">
        <div class="selectLanguageGroup">
          <label for="Language">Язык программирования: </label>
          <ul class="selectLanguage">
            <li>
                <span name="Language" *ngIf="model.Language; else noLanguage">{{model.Language}}</span>
                <ng-template #noLanguage><span>Выберите язык программирования</span></ng-template>
                <ul class="submenu">
                    <li *ngFor="let lang of availableLanguages">
                        <span (click)="selectLanguage(lang)">{{lang}}</span>
                    </li>
                </ul>
            </li>
          </ul>
        </div>

        <div class="upload-group">
          <div class="upload-FileName">
            <span *ngIf="submitDisabled; else downloadedSolution">Решение не загружено</span>
              <ng-template #downloadedSolution>
                <p>{{model.File.name}}</p>
              </ng-template>
          </div>
          <label for="Source" class="upload-file">
            <img src="../../../../assets/icons/upload.svg">
          </label>
          <input type="file" class="input-btn" id="Source" (change)="setFile($event)" [accept]="selectedLanguage" />
        </div>

        <div class="send-sol-group">
          <label for="send-sol" class="label-for-input-btn">Отправить решение</label>
          <input type="submit" class="input-btn" id="send-sol" />
        </div>
      </div>
      <div class="solution-preview" *ngIf="solutionPreview; else solutionPreviewMock">
        <textarea readonly>{{solutionPreview}}</textarea>
      </div>
      <ng-template #solutionPreviewMock>
        <div class="solution-preview-mock">
          <img src="../../../../assets/icons/source-code.svg">
        </div>
      </ng-template>
      
    </form>
  </div>

  <div *ngIf="exerciseInfo.Solutions.length > 0">
    <h2 class="text-center">Отправленные решения ({{exerciseInfo.Solutions.length}})</h2>
    <table>
      <thead>
        <th>Время отправки</th>
        <th>Язык программирования</th>
        <th>Скачать решение</th>
        <th>Результат</th>
        <th> </th>
      </thead>
      <tbody>

        <tr *ngFor="let sol of exerciseInfo.Solutions">
          <td>{{prettyTime(sol.SendingTime)}}</td>
          <td>{{normalLang(sol.Language)}}</td>
          <td>
            <button class="btn text" (click)="downloadSolution(sol)">
              Скачать
            </button>
          </td>
          <ng-container *ngIf="shownResults; else ResultsLocked">
            <td>{{solutionStatusPresent(sol.Status)}}</td>
            <td><img class="statusIcon" src="assets/StatusCode/{{sol.Status}}.svg" /></td>
          </ng-container>
          <ng-template #ResultsLocked>
            <ng-container *ngIf="sol.Status === 2 || sol.Status === 6 ;else OtherResults">
              <td>Решение проверено</td>
              <td><img class="statusIcon" src="assets/StatusCode/Checked.svg" /></td>
            </ng-container>
            <ng-template #OtherResults>
              <td>{{solutionStatusPresent(sol.Status)}}</td>
              <td><img class="statusIcon" src="assets/StatusCode/{{sol.Status}}.svg" /></td>
            </ng-template>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #loading>
  <ngx-loading [show]="loading"></ngx-loading>
</ng-template>