<div class="container" *ngIf="exerciseInfo">
  <h1>{{exerciseInfo.Name}}</h1>
  <h3>Баллы за выполнение: {{exerciseInfo.Score}}</h3>
  <p>
    {{exerciseInfo.TaskText}}
  </p>
  <h2>Отправка решения</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="Language">Язык программирования</label>
      <select id="Language" class="form-control" [(ngModel)]="model.Language" name="Language">
        <option *ngFor="let lang of availableLanguages">{{lang}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="Source">Код программы</label>
      <input type="file" id="Source" (change)="setFile($event)" accept=".cpp,.java,.cs,.py,.pas" />

    </div>
    <div class="form-group">
      <button [disabled]="submitDisabled">Отправить решение</button>
    </div>
  </form>
  <mat-table #table [dataSource]="exerciseInfo.Solutions">>
    <ng-container matColumnDef="time">
      <mat-header-cell *matHeaderCellDef> Время отправки </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{prettyTime(element.Time)}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="language">
      <mat-header-cell *matHeaderCellDef> Язык </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{normalLang(element.Language)}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Статус </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{solutionStatusPresent(element.Status)}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="statusIcon">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element"> <img class="statusIcon" src="assets/StatusCode/{{element.Status}}.svg"/> </mat-cell>
    </ng-container>
    

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>