.select-bar {
    margin:0px;
    padding:0px;
    background:#EFEFEF;
    display: grid;
    grid-template-columns: 50% 30%;
    font-weight: 900;
    color: #454545;
}

.challenge {
    grid-column: 1;
}

ul {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}

ul.challenge > li {
    float: left;
    position: relative;
    cursor: pointer;
}

ul.challenge > li > a {
    display: block;
    padding: 10px 25px;
}

ul.challenge > li > a:hover {
    background-color: #E0E0E0;
}

ul.submenu {
    display: none;
    position: absolute;
    width: 100%;
    min-width: max-content;
}

ul.submenu > li {
    min-width: max-content;
    background-color: #EFEFEF;

    &[solid] {
        background-color: #EFEFEF;
    }
}

ul.submenu > li:hover {
    background-color: #E0E0E0;
    
    &[solid] {
        background-color: #E0E0E0;
    }
}

ul.submenu > li > a {
    display: block;
    min-width: max-content;
    text-decoration: none;
    color: #454545;
    padding: 10px 25px;
}

ul.challenge > li:hover > ul.submenu {
    display: block;
}

.noUserLine {
    grid-column: 1;
    height: 40px;
}

.challenge-deadline {
    grid-column: 2;
    padding: 10px;
    text-align: right;
}

.instruction {
    grid-column: 3;
    justify-self: right;
    cursor: pointer;
    padding: 10px;
}

.instruction:hover {
    background-color: #E0E0E0;
}

.instruction > a {
    margin: 0 20px;
    text-decoration: none;
    color: #454545;
}
