<div>
    <div class="select-bar">
        <div class="select-challenge">
            <select (change)="goToChallenge()" [(ngModel)]="currentChallenge">
                <option *ngFor="let challenge of challenges" [disabled]="isDefault(challenge)" [ngValue]="challenge">{{challenge.Name}}</option>
            </select>
        </div>
        <div class="select-exercise">
            <select (change)="goToExercise()" [(ngModel)]="currentExercise">
                <option *ngFor="let ex of currentExercises" [disabled]="isDefault(ex)" [ngValue]="ex">{{ex.Name}}</option>
            </select>
        </div>
    </div>
</div>