<div>
    <div class="select-bar">
            <ul class="challenge">
                    <li><a href=#>Выберите соревнование</a>
                        <ul class="submenu">
                            <li><a href=#>Соревнование по заглушкам</a></li>
                        </ul>
                    </li>
                    <li><a href=#>Выберите задание</a>
                        <ul class="submenu">
                            <li><a href=#> Задание "Заглушка 1"</a></li>
                            <li><a href=#> Задание "Заглушка 2"</a></li>
                        </ul>
                    </li>
                  
                </ul>
    </div>
</div>
