.addExerciseComponent{
    display: grid;
}
.exercise_text_area{
    width: 100%;
    height: 60vh;
}
.exercise_score_area{
    width: 200px;
    height:15px;
}
.exercise_name_area{
    width: 200px;
    height: 15px;
}