<div *ngIf="isAdmin()" class="addExerciseComponent">

  <!-- BUTTONS -->
  <button class="text btn" (click)="addExercise()">
    Добавить
  </button>
  <!-- END -->

  <br>

  <!-- exercise_NAME -->
  <div>
    <span>
      Название
    </span>
  <input type="text" id="exercise_name"  class="exercise_name_area" ngDefaultControl [(ngModel)]="newExercise.ExerciseName">
  </div>
  <!-- END -->

  <!-- exercise challenge -->
  <div class="challenge-box">
    <select [(ngModel)]="newExercise.ChallengeId">
      <option *ngFor="let challenge of challenges" value="{{challenge.Id}}">
        <p>{{challenge.Name}}</p>
      </option>
    </select>
  </div>
  <!-- end -->

  <!-- exercise_SCORE -->
  <div >
    <span>
      Баллы за выполнение:
    </span>
    <input id="exercise_score" type="number" class="exercise_score_area" [(ngModel)]="newExercise.Score">
  </div>
  <!-- END -->

  <!-- exercise_TEXT -->
  <div >
    <span>
      Содержание
    </span>
    <textarea id="exercise_text" ngDefaultControl class="exercise_text_area" [(ngModel)]="newExercise.ExerciseText">
      {{newExercise.ExerciseText}}
    </textarea>
  </div>
  <!-- END -->

  <ngx-loading [show]="loading"></ngx-loading>
</div>