<div *ngIf="isAdmin() && EditedExercise; else loading" class="editExerciseComponent">

  <!-- BUTTONS -->
  <button (click)="sendEditedExercise()">
    Сохранить
  </button>
  <!-- END -->

  <br>

  <!-- exercise_NAME -->
  <textarea id="exercise_name"  class="exercise_name_area"   ngDefaultControl [(ngModel)]="EditedExercise.Name">
    {{EditedExercise.Name}}
  </textarea>
  <!-- END -->

  
  <!-- exercise_SCORE -->
  <div >
    <span>
      Баллы за выполнение:
    </span>
    <textarea id="exercise_score" type="ngDefaultControl"class="exercise_score_area" [(ngModel)]="EditedExercise.Score">
      {{EditedExercise.Score}}
    </textarea>
  </div>
  <!-- END -->
  
  <!-- exercise_TEXT -->
  <textarea id="exercise_text"  ngDefaultControl class="exercise_text_area" [(ngModel)]="EditedExercise.TaskText">
    {{EditedExercise.exerciseText}}
  </textarea>
    <!-- END -->
    <app-condition-edit [exerciseId]="EditedExercise.Id" ></app-condition-edit>
  </div>
  <ng-template #loading>
      <ngx-loading [show]="loading"></ngx-loading>
  </ng-template>