<markdown>
  ## Общие положения о проведении олимпиады

  > Как решение каждого задания необходим файл с исходным кодом программы.
  Время на выполнение программы - 1 секунда. Если программа работает дольше - задание считается невыполненным
  


</markdown>
<h3>Индикаторы отправленного решения:</h3>
<img src="assets/StatusCode/0.png" />
Ошибка при компиляции программы <br>
<img src="assets/StatusCode/1.png" />
Ошибка во время выполнения программы<br>
<img src="assets/StatusCode/2.png" />
Неверный результат работы программы<br>
<img src="assets/StatusCode/3.png" />
Решение в очереди на проверку<br>
<img src="assets/StatusCode/4.png" />
Решение проверяется<br>
<img src="assets/StatusCode/5.png" />
Решение верно<br>
