
  <h2>Общие положения о проведении олимпиады</h2>
  <p>Как решение каждого задания необходим файл с исходным кодом программы.</p>
  <p>Время на выполнение программы - 1 секунда. Если программа работает дольше - задание считается невыполненным</p>


<h3>Индикаторы отправленного решения:</h3>
<div class="statusDesc red">
  <img src="assets/StatusCode/0.svg" />
  <p>Ошибка при компиляции программы</p>
</div>
<div class="statusDesc red">
  <img src="assets/StatusCode/1.svg" />
  <p>Ошибка во время выполнения программы</p>
</div>
<div class="statusDesc red">
  <img src="assets/StatusCode/2.svg" />
  <p>Неверный результат работы программы</p>
</div>
<div class="statusDesc blue">
  <img src="assets/StatusCode/3.svg" />
  <p>Решение в очереди на проверку</p>
</div>
<div class="statusDesc blue">
  <img src="assets/StatusCode/4.svg" />
  <p>Решение проверяется</p>
</div> 
<div class="statusDesc green">
  <img src="assets/StatusCode/5.svg" />
  <p>Решение верно</p>
</div>