<div class="container">
  <h2 style="color:#5c6bc0">Общие положения о проведении тестирования</h2>
  <p> Решение каждого задания - это файл с исходным кодом программы, объемом не более 5 МБ.
    Исходный код будет скомпилирован и выполнен с различными наборами входных данных.
    Если отправленное решение отработает некорректно, то система выдаст соответствующее сообщение.</p>
  <p>Время на выполнение программы - 1 секунда. Превышение временного лимита автоматически приводит к состоянию "Решение выполнялось слишком долго"</p>


  <h2 style="color:#5c6bc0">Индикаторы отправленного решения</h2>
  <div class="indicators">
    <div class="statusDesc red">
      <img src="assets/StatusCode/0.svg" />
      <p>Ошибка при компиляции</p>
    </div>
    <div class="statusDesc red">
      <img src="assets/StatusCode/1.svg" />
      <p>Ошибка во время выполнения</p>
    </div>
    <div class="statusDesc red">
      <img src="assets/StatusCode/2.svg" />
      <p>Неверный результат работы</p>
    </div>
    <div class="statusDesc red">
      <img src="assets/StatusCode/3.svg" />
      <p>Решение выполнялось слишком долго</p>
    </div>
    <div class="statusDesc blue">
      <img src="assets/StatusCode/4.svg" />
      <p>Решение в очереди на проверку</p>
    </div>
    <div class="statusDesc blue">
      <img src="assets/StatusCode/5.svg" />
      <p>Решение проверяется</p>
    </div>
    <div class="statusDesc green">
      <img src="assets/StatusCode/6.svg" />
      <p>Решение верно</p>
    </div>
  </div>

  <h2 style="color:#5c6bc0">Пример правильно решенного задания</h2>
  <div class="task">
    <hr>
    <markdown ngPreserveWhitespaces>
      ### Задача инкремент

      > На вход программе подается одно целое число A. Необходимо вывести число, равное A + 1;

      #### Ограничения входных параметров


      >2<sup>31</sup> &ge; A &le; 2<sup>31</sup>-2


      #### Правильное решение на языке Pascal (используется Pascal ABC)
      ```
      var
        val: Integer;

      begin
        Readln(val);
        WriteLn(val + 1);
      end.

      ```
 </markdown>
    <hr>
  </div>
  <p style='font-weight: 600; font-size:1.5rem'> Внимание! </p>
  <p> Для отправки задания текст кода должен находиться в файле, например "Program.pas". 
   После отправки программа отобразится в таблице отправленных решений и с течением времени изменит свой статус в
    следующем порядке:</p>
  <div class="statusDesc blue">
    <img src="assets/StatusCode/4.svg" />
    <p>Решение в очереди на проверку</p>
  </div>
  <div class="statusDesc blue">
    <img src="assets/StatusCode/5.svg" />
    <p>Решение проверяется</p>
  </div>
  <div class="statusDesc green">
    <img src="assets/StatusCode/6.svg" />
    <p>Решение верно</p>
  </div>
</div>
