.container {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    height: 100%;
    overflow: scroll;
}

.h {
    font-variant: small-caps;
}

hr {
    border: none;
    background-color:#66bb6a; 
    height: 2px;
    color: #66bb6a;
}

.indicators {
    column-count: 2;
    column-fill: balance;
    padding: 10px;
}

img {
    width: 70%;
    max-height: 4em;
    align-self: left;
}

.statusDesc {
    width: 70%;
    display: grid;
    grid-template-columns: 40% auto; 
    padding: 20px;
}

.statusDesc p {
    margin-top: auto;
    margin-bottom: auto;
}

.red {
    font-variant: small-caps;
    color:#ff5f50

}

.blue {
    font-variant: small-caps;
    color:#1565c0;
}

.green {
    font-variant: small-caps;
    color: #66bb6a;
}




