mat-form-field{
    width: 100%;
    height: 100%;
}
.header {
    text-align: center;
}
.exLogs {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.exIn {
    width: 100%;
    height: 100%;
    grid-column: 1;
}
.exOut {
    width: 100%;
    height: 100%;
    grid-column: 2;
}
.exPrOut {
    width: 100%;
    height: 100%;
    grid-column: 3;
}
.exPrErr {
    width: 100%;
    height: 100%;
    grid-column: 1/3;
}