<table>
  <tr>
    <th>Стандартный ввод</th>
    <th>Стандартный вывод</th>
  </tr>
  <tr *ngFor="let exData of exerciseDatas">
    <tr *ngFor="let exData of exerciseDatas">
      <!-- <td valign="top"  >
        <textarea [(ngModel)]="exData.InData">
        </textarea>
      </td> -->
      <td valign="top" >
          <div *ngFor="let inRow of exData.InData.split('\n')">
            {{inRow}}
          </div>
      </td>

    <!-- <td valign="top" >
        <textarea [(ngModel)]="exData.OutData">
          </textarea>
    </td> -->
    <td valign="top" >
        <div *ngFor="let inRow of exData.OutData.split('\n')">
          {{inRow}}
        </div>
    </td>
  </tr>
</table>