.gContainer {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: auto;
    grid-template-rows: 60px auto;
}
.header {
    grid-row:1;
    word-break: normal;
}
.allContent {
    display: grid;
    width: 960px;
    margin: 0 auto;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
.main_content {
    grid-area: content;
    margin-left: 15px;
    margin-right: 15px;
    grid-column: 2;
    width: 400px;
}