.gContainer {
    display: grid;
    width: 100%;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: "header header header" "menu content user-info"
}

/* div {
    border: 1px solid black;
} */

.header {
    /* text-align: center; */
    grid-area: header;
}

.menu {
    grid-area: menu;
    grid-column: 1;
}
.user-info {
    grid-area: user-info;
    grid-column: 3;
}
.content {
    grid-area: content;
    margin-left: 15px;
    margin-right: 15px;
    grid-column: 2;
}