.card {
    margin: 70px auto auto auto;
    padding: 0;
    max-width: 400px;
    background-image: linear-gradient(to left, #60C6E7, #64F2CB);
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
}

.mat-card {
    font-family: 'GillSans';
}

.wave {
    padding: 40px;
    background-image: url('../../../assets/img/wave.svg');
    background-size: 500%;
}

.header {
    font-size: 26px;
    color: #FFF;
    width: max-content;
    margin: auto;
}

input {
    display: inline;
    width: 100%;
    margin: 15px 0;
    padding: 10px 20px;
    font-family: GillSans;
    font-size: 20px;
    font-weight: 300;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
}

input[type=submit] {
    margin-top: 30px;
}

input[type=submit]:hover {
    background-color: #E0E0E0;
}

.error {
    display: block;
    width: max-content;
    margin: auto;
    color: #ee1717;
    font-size: 16px;
}

a {
    display: block;
    width: max-content;
    text-decoration: none;
    margin: auto;
    color: #FFF;
    font-size: 20px;
}
