.text{
    word-wrap: break-word;
    max-width: 100%;
    text-align: center;
    display: inline-block;
    overflow: hidden;
}
.btn_login {
    width: 100%;
}
.form-header {
    text-align: center;
}
.route_to_reg {
    margin-top: 14px;
    text-align: center;
}
.form-control :focus {
    outline: 0;
    border: 20px solid red;
}
