<div class="container">
  <h3 class="form-header">Вход в систему</h3>
  <!-- <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div> -->
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="UserName">Электронная почта</label>
      <input type="text" class="form-control" id="UserName" required [(ngModel)]="model.UserName" name="UserName" #userName="ngModel">
      <div [hidden]="userName.valid || userName.pristine" class="alert alert-danger">Необходима почта</div>
    </div>

    <div class="form-group">
      <label for="Password">Пароль</label>
      <input type="password" class="form-control" id="Password" required minlength="6" [(ngModel)]="model.Password" name="Password"
        #pass="ngModel">
      <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="alert alert-danger">
        <div *ngIf="pass.errors.minlength; else passIsRequired">
          Пароль не может быть короче 6-и символов
        </div>
        <ng-template #passIsRequired>
          Пароль обязателен
        </ng-template>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn_login btn text btn-success" [disabled]="!loginForm.form.valid">Войти</button>
    </div>
  </form>
  <ngx-loading [show]="loading"></ngx-loading>
</div>