<div class="login-page">
  <div class="login">
    <h2 class="login-header">Войти в систему</h2>
    
    <form class="login-container" novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <p>
        <input [ngClass]="{
          'input-error': email.errors && (email.dirty || email.touched),
          'input-success': !email.errors && (email.dirty || email.touched)
        }" type="email" required autocomplete="email" placeholder="Email" formControlName="Email">
      </p>
      <p class="error" *ngIf='email.errors && (email.dirty || email.touched)'>
        Введите корректный Email
      </p>
      <p>
        <input [ngClass]="{
          'input-error': password.errors && (password.dirty || password.touched),
          'input-success': !password.errors && (password.dirty || password.touched)
        }" type="password" required autocomplete="current-password" placeholder="Password" formControlName="Password">
      </p>
      <p class="error" *ngIf='password.errors && (password.dirty || password.touched)'>
        Пароль должен содержать минимум 6 символов
      </p>
      <p>
        <input [ngClass]="{'submit-unvaliable': loginForm.invalid}" type="submit" value="Войти">
      </p> 
      <p>
        <a routerLink="/register">
          Еще не зарегистрированы? Зарегистрироваться.
        </a>
      </p>
    </form>
  </div>
</div>