<div>
    <mat-card class="card">
        <div class="wave">
            <form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="header">Войти в систему</div>
                <input type="text" required placeholder="Логин" formControlName="Login">
                <div class="error" *ngIf='login.invalid && login.touched'>
                    Введите корректный логин
                </div>
                <input type="password" autocomplete="current-password" required placeholder="Пароль" formControlName="Password">
                <div class="error" *ngIf='password.invalid && password.touched'>
                    Пароль должен содержать минимум 6 символов
                </div>
                <input [ngClass]="{'submit-unvaliable': loginForm.invalid}" type="submit" value="Вход">
                <a (click)="toastr.warning('В данный момент регистрация невозможна')"> <!-- TODO /register -->
                    Нет аккаунта? Зарегистрироваться.
                </a>
            </form>
        </div>
    </mat-card>
</div>
