.text{
    word-wrap: break-word;
    max-width: 100%;
    text-align: center;
    display: inline-block;
    overflow: hidden;
}
.btn_login {
    width: 100%;
}
.form-header {
    text-align: center;
}