.form-header {
    text-align: center;
}
.btn_reg {
    width: 100%;
}
.reg_unavailable {
    display: grid;
    justify-content: center;
    margin-top: 5%;
    font-size: 20px;
}
.text{
    word-wrap: break-word;
    max-width: 100%;
    text-align: center;
    display: inline-block;
    overflow: hidden;
}