<div class="registration-page">
  <div class="logo">
    <img alt='logo' src="../../../assets/icons/MIREA_Logo.svg">
  </div>
  <div class="registration">
    <div class="registration-triangle"></div>
    <h2 class="registration-header">
      Регистрация в системе
    </h2>
    <form class="registration-container">
      <p>
        <input type="firstname" placeholder="Имя">
      </p>
      <p>
        <input type="lastname" placeholder="Фамилия">
      </p>
      <p>
        <input type="surname" placeholder="Отчество">
      </p>
      <p>
        <input type="email" placeholder="Электронная почта">
      </p>
      <p>
        <input type="id" placeholder="ID">
      </p>
      <p>
        <input type="password" placeholder="Придумайте пароль">
      </p>
      <p>
        <input type="repeatpassword" placeholder="Повторите пароль">
      </p>
      <p>
        <input type="submit" value="Зарегистрироваться">
      </p>
      <p>
          <a routerLink="/registration">
            У вас уже есть аккаунт? Войти.
          </a>
      </p>
    </form>
  </div>
</div>