.container {
    display: grid;
    grid-template-columns: 40% 40% 10% 10%;
    margin: 5px 0px;
}

.container button {
    margin: 2px 0px;
}
.btn{
    width: 100%;
    text-decoration: none;
    outline: none;
    display: inline-block;
    margin-top: 10px;
    transition: .15s ease-in-out;
}

.color-red{
    color:rgb(255, 4, 4);
}
.color-green{
    color:rgb(0, 255, 0);
}

.text{
    word-wrap: break-word;
    max-width: 100%;
    text-align: center;
    display: inline-block;
    overflow: hidden;
}