<div>
  <p>Добавить условие</p>
  <div class="container">
      <p>Вход</p>
      <p>Выход</p>
      <p>Публичность</p>
    </div>
  <div class="container">
    <textarea [(ngModel)]="newCondition.InData"></textarea>
    <textarea [(ngModel)]="newCondition.OutData"></textarea>
    <input type="checkbox" [(ngModel)]="newCondition.IsPublic" />
    <button class="btn text" (click)="addCondition()">Add</button>
  </div>
  <div class="container">
    <p>Вход</p>
    <p>Выход</p>
    <p>Публичность</p>
  </div>
  <div class="container" *ngFor="let condition of conditions">
    <textarea [(ngModel)]="condition.InData"></textarea>
    <textarea [(ngModel)]="condition.OutData"></textarea>
    <input type="checkbox" [(ngModel)]="condition.IsPublic" />
    <div>
      <button class="btn text color-red">Удалить</button>
      <button class="btn text color-green" (click)="saveCondition(condition)">Сохранить</button>
    </div>
  </div>
</div>