.taskBtn {
  width: max-content;
  margin: 20px 0;
  padding: 10px 20px;
  box-sizing: border-box;
  border: #0088FF solid 2px;
  background-color: #00000000;
  font-family: GillSans;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
}

.selectLanguage {
  color: #FFF;
}

.select {
  display: flex;
  padding: 10px;
  background-color: #0088FF;
  color: #FFF;
  cursor: pointer;
}

.select > span {
  width: 100%;
  text-align: center;
}

.select > img {
  width: 30px;
  height: 30px;
}

.selectLanguage > ul {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.selectLanguage > ul > div {
  display: none;
  width: inherit;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 136, 255);
}

.selectLanguage > ul > div > li {
  display: block;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
}

.selectLanguage:hover > ul > div {
  display: block;
  position: absolute;
}

.selectLanguage:hover > ul > div > li:hover {
  background-color: #2599ffbb;
}

.select:nth-child(2) {
  margin-top: 30px;
  color: #FFF;
}

.select:nth-child(2) > img {
  transform: rotate(180deg);
}

.sendCont {
  display: flex;
  height: 100%;
  margin-top: 5px;
}

#send {
  display: block;
  cursor: pointer;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  border: none;
  background-color: #0088FF;
  font-family: GillSans;
  font-size: 20px;
  font-weight: 900;
  color: #FFF;
  align-self: flex-end;
}

