.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.form-group, .form-header {
    width: 70%;
    display: grid;
    margin: 1%;
    /* grid-template-rows: auto auto auto; */
}
.form-group select, input {
  width: 30%;
}

.form-group button {
  width: 20%;
}

.alert-danger {
  background: #da7b7a56;
  border-radius: 20px;
  width: 40%;
  text-align: center;
}