<div *ngIf="isAdmin()" class="addExerciseComponent">
  <form #loginForm="ngForm" (ngSubmit)="addChallenge()">
    <div class="form-group">

    </div>
    <div class="form-group">
      <label for="ChallengeName">Название соревнования</label>
      <input type="text" class="form-control" id="ChallengeName" required [(ngModel)]="challenge.Name" name="ChallengeName"
        #challengeName="ngModel">
      <div [hidden]="challengeName.valid || challengeName.pristine" class="alert alert-danger">Необходимо название
        соревнования</div>
    </div>
    <hr>
    <div class="form-group">
      <span>
        <label for="noTimeTrue">Бессрочное</label>
        <input name="timePick" ng-control="options" type="radio" [value]=false [(ngModel)]="bounded" id="noTimeTrue"><br />
      </span>
      <span>
        <label for="noTimeFalse">Ограниченное</label>
        <input name="timePick" ng-control="options" type="radio" [value]=true [(ngModel)]="bounded" id="noTimeFalse"><br />
      </span>
    </div>
    <div class="form-group" *ngIf="bounded">
      <label class="example-input-wrapper">
        Время проведения соревнования:
        <input [selectMode]="'range'" [(ngModel)]="challengeTime" [owlDateTimeTrigger]="dtRange1"
          [owlDateTime]="dtRange1" name="challengeTimePicker">
        <owl-date-time #dtRange1></owl-date-time>
      </label>
    </div>
    <hr>
    <div class="form-group">
      <span>
        <label for="noTimeTrue">Публичное</label>
        <input name="ChallengeAccessType" ng-control="options" type="radio" [value]=0 [(ngModel)]="challenge.ChallengeAccessType"
          id="noTimeTrue"><br />
      </span>
      <span>
        <label for="noTimeFalse">Приватное</label>
        <input name="ChallengeAccessType" ng-control="options" type="radio" [value]=1 [(ngModel)]="challenge.ChallengeAccessType"><br />
      </span>
    </div>

    <div>
        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
          [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let user of users | async" [value]="user.StudentId">
              {{user.FirstName}} {{user.Email}} {{user.StudentId}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
    </div>
    <button type="submit" class="text btn" [disabled]="!loginForm.form.valid">
      Подтвердить
    </button>
  </form>
</div>
<ngx-loading [show]="loading"></ngx-loading>