<div class="container">
  <div *ngIf="currentChallengeId; else noCurrentChallenge">
    <button (click)="clearChallenge()">Показать все соревнования</button>
    <div *ngIf="currentChallenge; else loading">
      <h2>{{currentChallenge.Name}}</h2>
      <p *ngIf="currentChallenge.EndTime">Осталось: {{currentChallengeTimeLeft}}</p>
      <div *ngFor="let ex of currentChallenge.Exercises">
        <button (click)="goToExercise(ex.Id)">{{ex.Name}}</button>
      </div>
    </div>
    <ng-template #loading>
      <h2>Загрузка...</h2>
    </ng-template>

  </div>
  <ng-template #noCurrentChallenge>
    <h2 class="avaliable_challenges_header">Доступные соревнования ({{challenges.length}})</h2>
    <button class="challenge-box_btn" *ngFor="let challenge of challenges" (click)="goToChallenge(challenge)">
      <div class="challenge-box">
        <div class="challenge-box_text">{{challenge.Name}}</div>
        <div class="challenge-box_text">{{challengeEnd(challenge.EndTime)}}</div>
      </div>
    </button>
  </ng-template>
  <!-- <button class="col{{ex.Status}}" (click)="goToExercise(ex.Id)">{{c.Name}}</button> -->
  <!-- <div></div>
      <img *ngIf="ex.Status!==-1" src="assets/StatusCode/{{ex.Status}}.svg" /> -->
</div>