.container {
    text-align: center;
}

.challenge-box {
    /* margin: 25px 0px; */
    display:grid;
    justify-content: center;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}
.btn{
    width: 80%;
    text-decoration: none;
    outline: none;
    display: inline-block;
    background: white;
    margin-top: 10px;
    transition: .15s ease-in-out;
}
img{
    width: 20%;
}
.btn:hover{
        box-shadow: 0 0 3px 0 rgb(67, 55, 241) inset, 0 0 3px 1px rgb(67, 55, 241);
        color: rgb(67, 55, 241);
}
.text{
    word-wrap: break-word;
    max-width: 100%;
    text-align: center;
    display: inline-block;
    overflow: hidden;
}
.avaliable_challenges_header{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #5c6bc0;

}