<div class="container">
  <div *ngIf="currentChallengeId; else noCurrentChallenge">
    <button class="btn text" (click)="clearChallenge()">Показать все соревнования</button>
    <div class="text" *ngIf="currentChallenge; else loading">
      <h2>{{currentChallenge.Name}}</h2>
      <p>{{currentChallengeTimeLeft}}</p>
      <div *ngIf="currentExercises">
        <div *ngFor="let ex of currentExercises">
          <button class="btn text" (click)="goToExercise(ex.Id)">{{ex.Name}}</button>
        </div>
      </div>
    </div>
    <ng-template #loading>
      <h2>Загрузка...</h2>
    </ng-template>

  </div>
  <ng-template #noCurrentChallenge>
    <h2 class="avaliable_challenges_header text">Доступные соревнования ({{challenges.length}})</h2>
    <button class="btn text" *ngFor="let challenge of challenges" (click)="goToChallenge(challenge)">
      <div class="challenge-box">
        <div class="text">{{challenge.Name}}</div>
        <div class="text">{{challengeTime(challenge)}}</div>
      </div>
    </button>
  </ng-template>
  <!-- <button class="col{{ex.Status}}" (click)="goToExercise(ex.Id)">{{c.Name}}</button> -->
  <!-- <div></div>
      <img *ngIf="ex.Status!==-1" src="assets/StatusCode/{{ex.Status}}.svg" /> -->
</div>