.container {
    text-align: center;
}

.challenge-box {
    /* margin: 25px 0px; */
    display:grid;
    justify-content: center;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}
.exercises {
    display: grid;
    width: 80% auto;
    height: 100%;
}
.exercises_list {
    width: 100%;
    grid-column: 1;
}
.exercise_status_img{
    grid-column: 2;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
}
.list_of_challenges {
    width: 100%;
    margin-top: 8px;
}
img{
    max-width: 40px;
}
.text{
    word-wrap: break-word;
    max-width: 100%;
    text-align: center;
    display: inline-block;
    overflow: hidden;
}
.avaliable_challenges_header{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #5c6bc0;

}