<div *ngIf="isReady(); else notReady">
    <mat-drawer class="drawer" #drawer mode="over" position="end">
        <div class="header" style="font-size: 25px;">{{exerciseInfo.name}}</div>
        <app-task [exerciseInfo]="exerciseInfo" [inOutData]="inOutData"></app-task>
    </mat-drawer>
    <mat-drawer class="drawer" #conditionDrawer mode="over" position="end">
        <div class="header" style="font-size: 25px;">Условия сдачи</div>
        <markdown *ngIf="model.language" [data]="languageNote"></markdown>
    </mat-drawer>
    <div class="cover" (click)="drawer.close() && conditionDrawer.close()"
        *ngIf="drawer.opened || conditionDrawer.opened"></div>

    <div class="view">
        <div class="progress">
            <div class="exercise" *ngFor="let exercise of exercises">
                <a class="statusCircle" [ngClass]="statusClass(exercise)" routerLink="/exercises/{{exercise.id}}"></a>
                <div class="exName">{{exercise.name}}</div>
            </div>
        </div>
        <div class="name">
            <div class="header">{{exerciseInfo.name}}</div>
            <div class="info"><span *ngIf="exerciseInfo.showScores">Баллы:&nbsp;{{exerciseInfo.score}}
                    max&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Тестирование: {{challenge.name}}</div>
            <button *ngIf="sendMode" class="taskBtn" (click)="drawer.toggle()">Условия</button>
        </div>

        <div class="container">
            <div *ngIf="!sendMode; else send">
                <app-task [exerciseInfo]="exerciseInfo" [inOutData]="inOutData"></app-task>
                <button class="send" (click)="setSendMode()">Сдать задачу</button>
            </div>
            <ng-template #send>
                <div id="header">
                    <div class="wave">
                        <div class="correctInput" [ngClass]="{empty: !model.solution}">
                            <img *ngIf="model.solution"
                                src="../../../assets/icon/statusCodes/{{solutionStatusIcon(model.solution.status)}}.svg"
                                [matTooltip]="solutionStatusTooltip(model.solution.status)"
                                matTooltipPosition="above">
                        </div>
                    </div>
                </div>
                <table class="editor">
                    <tr>
                        <th col1></th>
                        <th col2>
                            <div class="solutionTime">
                                <div *ngIf="model.solution">
                                    Решение от {{prettyTime(model.solution.sendingTime)}}</div>
                            </div>
                            <div class="buttons"
                                *ngIf="model.file">
                                <img (click)="copy()" src="../../../assets/icon/copy.svg"
                                    [matTooltip]="['Копировать решение']" matTooltipPosition="above">
                                <a id="a" [href]="sanitize(model.solutionUrl)" [download]="model.file && model.file.name"><img
                                        class="download" src="../../../assets/icon/download.svg"
                                        [matTooltip]="['Скачать решение']" matTooltipPosition="above"></a>
                            </div>
                        </th>
                    </tr>
                    <div class="code" *ngIf="model.content && model.language">
                        <div col1 id="rows" style="user-select: none;">
                            <div *ngFor="let line of getCode(); let i = index; trackBy: trackByFn">{{i + 1}}</div>
                        </div>
                        <div class="col2" id="codeRows">
                            <markdown [data]="model.content | language : model.language"></markdown>
                            <div>&nbsp;</div>
                        </div>
                    </div>
                    <tr *ngIf="!(model.content && model.language)">
                        <td col1></td>
                        <td col2></td>
                    </tr>
                </table>
            </ng-template>

            <app-code-sent-solutions-table *ngIf="sendMode" [exerciseInfo]="exerciseInfo">
            </app-code-sent-solutions-table>
        </div>
        <app-code-send-buttons class="submitCol" *ngIf="sendMode" [model]="model" [availableLanguages]="availableLanguages" [conditionDrawer]="conditionDrawer" [challenge]="challenge" [exerciseInfo]="exerciseInfo">
        </app-code-send-buttons>
    </div>
</div>

<ng-template #notReady>
    <div class="spinnerContainer">
        <div class="spinner"></div>
    </div>
</ng-template>