<div *ngIf="isReady(); else notReady">
    <mat-drawer class="drawer" #drawer mode="over" position="end">
        <div class="header" style="font-size: 25px;">{{exerciseInfo.name}}</div>
        <app-task [exerciseInfo]="exerciseInfo" [inOutData]="inOutData"></app-task>
    </mat-drawer>
    <mat-drawer class="drawer" #conditionDrawer mode="over" position="end">
        <div class="header" style="font-size: 25px;">Условия сдачи</div>
        <markdown *ngIf="model.language" [data]="languageNote"></markdown>
    </mat-drawer>
    <div class="cover" (click)="drawer.close() && conditionDrawer.close()"
        *ngIf="drawer.opened || conditionDrawer.opened"></div>

    <div class="view">
        <div class="progress">
            <div class="exercise" *ngFor="let exercise of exercises">
                <a class="statusCircle" [ngClass]="statusClass(exercise)" routerLink="/exercises/{{exercise.id}}"></a>
                <div class="exName">{{exercise.name}}</div>
            </div>
        </div>
        <div class="name">
            <div class="header">{{exerciseInfo.name}}</div>
            <div class="info"><span *ngIf="exerciseInfo.showScores">Баллы:&nbsp;{{exerciseInfo.score}}
                    max&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Тестирование: {{challenge.name}}</div>
            <button *ngIf="sendMode" class="taskBtn" (click)="drawer.toggle()">Условия</button>
        </div>

        <div class="container">
            <div *ngIf="!sendMode; else send">
                <app-task [exerciseInfo]="exerciseInfo" [inOutData]="inOutData"></app-task>
                <button *ngIf="!isFinished()" class="send" (click)="setSendMode()">Сдать задачу</button>
            </div>
            <ng-template #send>
                <app-code-preview [model]="model"></app-code-preview>
            </ng-template>

            <app-code-sent-solutions-table *ngIf="sendMode" [exerciseInfo]="exerciseInfo">
            </app-code-sent-solutions-table>
        </div>
        <app-code-send-buttons class="submitCol" *ngIf="sendMode" [model]="model" [availableLanguages]="availableLanguages" [conditionDrawer]="conditionDrawer" [challenge]="challenge" [exerciseInfo]="exerciseInfo">
        </app-code-send-buttons>
    </div>
</div>

<ng-template #notReady>
    <div class="spinnerContainer">
        <div class="spinner"></div>
    </div>
</ng-template>