/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

::-webkit-scrollbar {
    display: none;
}
*{
    box-sizing: border-box;
}
html {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
* {
    box-sizing: border-box;
}