<ul>
  <li>
    <div *ngIf="user; else buttonsBlock">
      <button class="btn text">Текущий прогресс</button>
      <button class="btn text" (click)="overView()">Общие положения</button>
      <hr />
      <div *ngIf="isAdmin()">
        <button class="btn text" (click)="addExercise()">
          Добавить задание
        </button>
        <button class="btn text" (click)="addChallenge()">
          Добавить соревнование
        </button><button class="btn text" (click)="usersList()">
          Список пользователей
        </button>
      </div>
    </div>
    <ng-template #buttonsBlock>
      <button class="btn text" (click)="login()">Войти в систему</button>
      <button class="btn text" (click)="register()">Зарегистрироваться</button>
    </ng-template>
  </li>
</ul>
<hr>

<app-challenges-list *ngIf="user"></app-challenges-list>