<ul>
  <li>
    <div *ngIf="user; else buttonsBlock">
      <button mat-button class="menu_btn">Текущий прогресс</button>
      <button mat-button class="menu_btn" (click)="overView()">Общие положения</button>
      <button mat-button *ngIf="isAdmin()" class="menu_btn" (click)="addExercise()">
        Добавить задание
      </button>
    </div>
    <ng-template #buttonsBlock>
      <button mat-button class="menu_btn" (click)="login()">Войти в систему</button>
      <button mat-button class="menu_btn" (click)="register()">Зарегестрироваться</button>
    </ng-template>
  </li>
</ul>
<hr>
<app-chalallanges-list></app-chalallanges-list>