ul {
    list-style: none;
    margin: 0px;
    padding: 10px;
    /* border-bottom: 2px solid gray; */
}

button {
    margin: 3px;
    width: 100%;
    border: none;
    padding: 3px;
}

.exersiceLi {
    display: grid;
    grid-template-columns: auto 3% 10%;
    width: 100%;
    margin: 6px;
}
img {
    margin: auto;
    height: 80%;
}
.col5 {
    /* background-color: green; */
    background-color: rgba(50, 186, 125, 0.836);
}