.addTaskComponent{
    display: grid;
}
.task_text_area{
    width: 100%;
    height: 60vh;
}
.task_score_area{
    width: 200px;
    height:15px;
}
.task_name_area{
    width: 200px;
    height: 15px;
}