<div>
    <markdown [data]="exerciseInfo.exerciseTask"></markdown>
    
    <div *ngIf="inOutData && inOutData.length" class="header">Пример ввода/вывода</div>
    <table *ngIf="inOutData.length">
        <tr>
            <th>Ввод</th>
            <th>Вывод</th>
        </tr>
        <tr *ngFor="let inOut of inOutData">
            <td *ngIf="!inOut.IsPublic"><pre>{{inOut.inData}}</pre></td>
            <td *ngIf="!inOut.IsPublic"><pre>{{inOut.outData}}</pre></td>
        </tr>
    </table>
</div>
