<div class="UserInfo"> <!-- TODO ask about menu design, *ngIf="user" -->
  <button class="menu-btn" mat-icon-button disableRipple="true" [matMenuTriggerFor]="menu">
    <mat-icon svgIcon="profile" aria-hidden="false" aria-label="Profile"></mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="menu">
    <button class="btn" (click)="myPage()" disableRipple="true" mat-menu-item>
      Моя страница
    </button>
    <mat-divider></mat-divider>
    <button class="btn" (click)="adminFunctions()" disableRipple="true" mat-menu-item> <!-- TODO *ngIf="isAdmin()" -->
      Функции администратора
    </button>
    <mat-divider></mat-divider> <!-- TODO *ngIf="isAdmin()" -->
    <button class="btn" (click)="about()" disableRipple="true" mat-menu-item> <!-- TODO ask about 'about' page -->
      О сайте
    </button>
    <mat-divider></mat-divider>
    <button class="btn logout_btn" (click)="logout()" disableRipple="true" mat-menu-item>
      Выйти
    </button>
  </mat-menu>
</div>
