<div class="UserInfo" *ngIf="user">
  <button class="menu-btn" mat-button disableRipple="true" [matMenuTriggerFor]="menu">
      <img src="../../../assets/icons/user_icon.png">
      <span>{{user.FirstName}}</span>
  </button>
  <mat-menu #menu="matMenu">
    <button class="btn" (click)="myPage()" disableRipple="true" mat-menu-item>
      Моя страница
    </button>
    <mat-divider></mat-divider>
    <button class="btn" *ngIf="isAdmin()" (click)="adminFunctions()" disableRipple="true" mat-menu-item>
      Функции администратора
    </button>
    <button class="btn" (click)="about()" disableRipple="true" mat-menu-item>
      О сайте
    </button>
    <mat-divider></mat-divider>
    <button class="btn logout_btn" (click)="logout()" disableRipple="true" mat-menu-item>
      Выйти
    </button>
  </mat-menu>
</div>