<div class="UserInfo">
  <button class="menu-btn" mat-icon-button disableRipple="true" [matMenuTriggerFor]="menu">
    <mat-icon svgIcon="profile" aria-hidden="false" aria-label="Profile"></mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="menu">
    <button class="btn" routerLink="/me" disableRipple="true" mat-menu-item>
      Моя страница
    </button>
    <mat-divider></mat-divider>
    <button class="btn" routerLink="/about" disableRipple="true" mat-menu-item>
      О сайте
    </button>
    <mat-divider></mat-divider>
    <button class="btn logout_btn" (click)="logout()" disableRipple="true" mat-menu-item>
      Выйти
    </button>
  </mat-menu>
</div>
