.UserInfo{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    border:1px solid blue;
    border-radius: 8px;
    background-color: rgba(225, 225, 247, 0.185);
}
.UserData{
    grid-row:1;
    grid-column:1;
    text-align: center;
    margin-left: 5px;
    color:black;
}
.logout{
    grid-column:1;
    grid-row:2;
}
.logout_btn{
    color:blue;
    border-radius: unset;
    border-top:1px solid blue;
    width: 100%;
    height: 100%;
    
}